* {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main {
  width: 100%;
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0.5) 50%
    ),
    url("./images/background.jpg");
  background-position: center;
  background-size: cover;
  height: 109vh;
}

.navbar {
  width: 1200px;
  height: 75px;
  margin: auto;
}

.icon {
  width: 200px;
  height: 70px;
  float: left;
}

.logo {
  color: #ff7200;
  font-size: 35px;
  font-family: Arial;
  padding-left: 20px;
  float: left;
  padding-top: 10px;
}

.menu {
  width: 400px;
  float: left;
  height: 70px;
}

ul {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li {
  list-style: none;
  margin-left: 62px;
  margin-top: 27px;
  font-size: 14px;
}

ul li a {
  text-decoration: none;
  color: #fff;
  font-family: Arial;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}

ul li a :hover {
  color: #ff7200;
}

.search {
  width: 330px;
  float: left;
  margin-left: 270px;
}

.srch {
  font-family: "Times New Roman";
  width: 200px;
  height: 40px;
  background: transparent;
  border: 1px solid #ff7200;
  margin-top: 13px;
  color: #fff;
  border-right: none;
  font-size: 16px;
  float: left;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.btn {
  width: 100px;
  height: 40px;
  background: #ff7200;
  border: 2px solid #ff7200;
  margin-top: 13px;
  color: #fff;
  font-size: 15px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.btn:focus {
  outline: none;
}

.srch:focus {
  outline: none;
}

.content {
  width: 1200px;
  height: auto;
  margin: auto;
  color: #fff;
  position: relative;
}

.content .par {
  padding-left: 20px;
  padding-bottom: 25px;
  font-family: Arial;
  letter-spacing: 1.2px;
  line-height: 30px;
}

.content h1 {
  font-family: "Times New Roman";
  font-size: 50px;
  padding-left: 20px;
  margin-top: 9%;
  letter-spacing: 2px;
}

.content .cn {
  width: 160px;
  height: 40px;
  background: #ff7200;
  border: none;
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s ease;
}

.content .cn a {
  text-decoration: none;
  color: black;
  transition: 0.3s ease;
}

.cn:hover {
  background-color: #fff;
}

.content span {
  color: #ff7200;
  font-size: 60px;
}

.form {
  width: 250px;
  height: 380px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 0.8) 50%
  );
  position: absolute;
  top: -20px;
  left: 870px;
  border-radius: 10px;
  padding: 25px;
}

.form2 {
  height: 450px;
}

.form h2 {
  width: 220px;
  font-family: sans-serif;
  text-align: center;
  color: #ff7200;
  font-size: 22px;
  background-color: #fff;
  border-radius: 10px;
  margin: 2px;
  padding: 8px;
}

.form input {
  width: 240px;
  height: 35px;
  background: transparent;
  border-bottom: 1px solid #ff7200;
  border-top: none;
  border-right: none;
  border-left: none;
  color: #fff;
  letter-spacing: 1px;
  margin-top: 30px;
  font-family: sans-serif;
}

.form input {
  outline: none;
}

::placeholder {
  color: #fff;
  font-family: Arial;
}

.btnn {
  width: 240px;
  height: 40px;
  background: #ff7200;
  border: none;
  margin-top: 30px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  transition: 0.4s ease;
}

.btnn:hover {
  background-color: #fff;
  color: #ff7200;
}

.btnn a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.form .link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  padding-top: 20px;
  text-align: center;
}

.form .link a {
  text-decoration: none;
  color: #ff7200;
}

.liw {
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
}

/*Home*/

.prof {
  background-image: url("./images/handshake.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 800px;
  position: absolute;
  top: 300px;
  cursor: pointer;
}

.prof-hide {
  text-align: center;
  color: white;
  line-height: 400px;
  font-size: 60px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  height: 400px;
  width: 800px;
  position: absolute;
  top: 300px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 0.8) 50%
  );
  opacity: 0;
  cursor: pointer;
  transition: 0.8s ease;
}

.prof-hide:hover {
  opacity: 1;
}

.stud {
  background-image: url("./images/student.jpg");
  background-size: cover;
  background-position: center;
  height: 700px;
  width: 548px;
  position: absolute;
  left: 800px;
  top: 300px;
  cursor: pointer;
}

.stud-hide {
  text-align: center;
  color: white;
  line-height: 700px;
  font-size: 60px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  height: 700px;
  width: 548px;
  position: absolute;
  left: 800px;
  top: 300px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 0.8) 50%
  );
  opacity: 0;
  cursor: pointer;
  transition: 0.8s ease;
}

.stud-hide:hover {
  opacity: 1;
}

.roles {
  background-image: url("./images/cource2.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 800px;
  position: absolute;
  top: 700px;
  cursor: pointer;
}

.roles-hide {
  text-align: center;
  color: white;
  line-height: 300px;
  font-size: 60px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  height: 300px;
  width: 800px;
  position: absolute;
  top: 700px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 0.8) 50%
  );
  opacity: 0;
  cursor: pointer;
  transition: 0.8s ease;
}

.roles-hide:hover {
  opacity: 1;
}

/*home navbar*/

.home_nav {
  height: 100px;
  width: 1349px;
  display: flex;
  justify-content: space-between;
}

.nav-details {
  display: flex;
  height: 100px;
  width: 220px;
  justify-content: space-between;
}

.nav-details div {
  padding-top: 40px;
  padding-right: 25px;
  font-size: 17px;
  font-family: Arial;
  font-weight: 600;
  cursor: pointer;
}

.nav-details div a {
  text-decoration: none;
  color: black;
}

/*Logo*/

.logo-div {
  width: 200px;
  height: 100px;
  background: url("./images/logo.png");
  background-size: cover;
  background-position: center;
}

/*details*/
.gen-details {
  font-size: 35px;
  padding-top: 20px;
}

.gen-details p {
  padding-left: 100px;
  font-family: wfont_473af4_fee8fbf1b47b4fb88dcce5054ccf03aa,
    wf_fee8fbf1b47b4fb88dcce5054, orig_noedisplaymedium;
  line-height: 45px;
  font-weight: bold;
  color: rgb(46, 45, 45);
}

/*footer*/

.join-div {
  height: 300px;
  width: 1349px;
  position: absolute;
  top: 1000px;
  font-family: "Brush Script MT", cursive;
  font-size: 90px;
  text-align: center;
  line-height: 300px;
}

.footer {
  height: 400px;
  width: 1349px;
  position: absolute;
  top: 1300px;
  background-color: black;
}

.footer-in {
  height: 260px;
  width: 1000px;
  position: absolute;
  left: 170px;
  top: 80px;
  display: flex;
  flex-direction: column;
}

.footer-summary {
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
}

.footer-details {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.footer-fields {
  color: #fff;
}

.footer-fields h6 {
  font-size: 27px;
  font-weight: 550;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 1px;
}

.footer-details p {
  font-size: 13px;
}

.line {
  background-color: #fff;
  width: 200px;
  height: 1px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.footer-social img {
  width: 35px;
  border-radius: 50%;
}

.footer-social {
  display: flex;
  justify-content: space-between;
}

.logos {
  background-color: white;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  cursor: pointer;
}

.logos img {
  width: 50px;
  position: relative;
  top: -8px;
  left: -8px;
}

/*Warning message*/

.warning {
  text-align: center;
  height: 50px;
  width: 250px;
  background-color: rgb(220, 20, 60);
  font-weight: 600;
  border-radius: 5px;
}
